@font-face {
    font-family: 'GowunBatang-Regular';
    src: 
        url('../../public/assets/fonts/GowunBatang-Regular.woff2') format("woff2"),
        url('../../public/assets/fonts/GowunBatang-Regular.woff') format("woff"),
        url('../../public/assets/fonts/GowunBatang-Regular.ttf') format('truetype');
    font-display: swap;
}