$backgroundBody: #f5f5f5;
$backgroundWhite: #fff;
$weddingTitleColor: #8B4513;
$weddingMainTextColor: #544f4f;
$weddingSubTextColor: #BC8F8F;
$weddingNameColor: #D2B48C;

$breakpoint-mobile: 300px;
$breakpoint-tabletToMobile: 601px;
$breakpoint-laptopToDesktop: 961px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width:#{$breakpoint-tabletToMobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tabletToMobile}) and (max-width:#{$breakpoint-laptopToDesktop - 1px}) {
    @content;
  }
}

