$bodyColor: #efefef;
$AppColor: #fff;


$breakpoint-mobile: 300px;
$breakpoint-tabletToMobile: 601px;
$breakpoint-laptopToDesktop: 961px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width:#{$breakpoint-tabletToMobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tabletToMobile}) and (max-width:#{$breakpoint-laptopToDesktop - 1px}) {
    @content;
  }
}

