.calendar {
  &__inner {
    @extend .flex-center, .inner-margin;
    flex-direction: column;
  }

  &__date {
    @extend .flex-center;
    flex-direction: column;
  }

  &__day {
    color: $weddingMainTextColor;
    font-size: 36px;
    line-height: 1.5;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 28px;
    }
  }

  &__time {
    color: $weddingSubTextColor;
    font-size: 30px;
    margin-top: 5px;

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__container {
    margin-top: 50px;

    @include mobile {
      border-top: 1px dashed;
      border-bottom: 1px dashed;
    }
  }

  &__D-day {
    @extend .flex-center;
    margin-top: 30px;
    font-size: 24px;
    gap: 5px;
    flex-direction: column;

    @include mobile {
      margin-top: 50px;
      gap: 10px;
    }
  }

  .rdp {
    &-caption {
      display: none;
    }

    &-day_selected {
      background-color: $weddingTitleColor;

      &:hover {
        background-color: $weddingTitleColor;
      }
    }

    &-cell {
      cursor: default;
    }

    &-head_cell {
      font-size: 16px;
      font-weight: bold;
    }

    .rdp-table {
      tr > :first-child {
        color: red;
      }

      tr > :last-child {
        color: red;
      }
    }
  }
}
