.calendar {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 150px;
	}

	&__date {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__day {
		font-size: 30px;
		line-height: 1.5;

		@include mobile {
			font-size: 28px;
		}
	}

	&__item {
		font-size: 20px;
		margin-top: 5px;

		@include mobile {
			font-size: 18px;
		}
	}

	&__container {
		margin-top: 50px;
	}

	&__D-day {
		margin-top: 30px;
		font-size: 24px;
		display: flex;
		gap: 5px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.rdp {

		&-caption {
			display: none;
		}

		&-day_selected {
			background-color: orange;
		}

		&-cell {
			cursor: default;
		}

		&-head_cell {
			font-size: 16px;
			font-weight: bold;
		}

		.rdp-table {
			tr > :first-child {
				color: red; /* 배경색을 예로 들었습니다 */
			  }
			  
			  /* 마지막 자식 요소에 스타일 적용 */
			  tr > :last-child {
				color: red; /* 배경색을 예로 들었습니다 */
			  }
		}
	}
}