.calendar {
  &__inner {
    @extend .flex-center;
    flex-direction: column;
    margin-top: 150px;
  }

  &__date {
    @extend .flex-center;
    flex-direction: column;
  }

  &__day {
    color: $weddingMainTextColor;
    font-size: 30px;
    line-height: 1.5;

    @include mobile {
      font-size: 28px;
    }
  }

  &__item {
    color: $weddingSubTextColor;
    font-size: 20px;
    margin-top: 5px;

    @include mobile {
      font-size: 18px;
    }
  }

  &__container {
    margin-top: 50px;

    @include mobile {
      border-top: 1px dashed;
      border-bottom: 1px dashed;
    }
  }

  &__D-day {
    @extend .flex-center;
    margin-top: 30px;
    font-size: 24px;
    gap: 5px;
    flex-direction: column;

    @include mobile {
      margin-top: 50px;
      gap: 10px;
    }
  }

  .rdp {
    &-caption {
      display: none;
    }

    &-day_selected {
      background-color: $weddingTitleColor;
    }

    &-cell {
      cursor: default;
    }

    &-head_cell {
      font-size: 16px;
      font-weight: bold;
    }

    .rdp-table {
      tr > :first-child {
        color: red; /* 배경색을 예로 들었습니다 */
      }

      /* 마지막 자식 요소에 스타일 적용 */
      tr > :last-child {
        color: red; /* 배경색을 예로 들었습니다 */
      }
    }
  }
}
