.guest__book {
  &__inner {
    @extend .flex-center;
    margin-top: 150px;
    margin-bottom: 50px;
    flex-direction: column;

    @include mobile {
      margin-top: 150px;
    }
  }

  &__title {
    text-align: center;

    &-main {
      font-size: 36px;
      color: $weddingTitleColor;
      font-weight: bold;

      @include mobile {
        font-size: 28px;
      }
    }

    &-sub {
      color: $weddingSubTextColor;
      margin-top: 5px;
      font-size: 24px;

      @include mobile {
        font-size: 20px;
        margin-top: 8px;
      }
    }
  }

  &-box {
    @extend .flex-center;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
  }

  &__input-box {
    @extend .flex-center;
    margin-top: 50px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;

    @include mobile {
      width: 330px;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  &-no-comment {
    color: $weddingMainTextColor;
    font-size: 26px;

    @include mobile {
      font-size: 16px;
    }
  }

  &-comment {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: $backgroundWhite;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(27, 31, 35, 0.15);

    @include mobile {
      width: 330px;
    }

    &-title {
      display: flex;
      gap: 10px;
      align-items: center;

      &-name {
        color: $weddingMainTextColor;
        font-size: 20px;

        @include mobile {
          font-size: 16px;
        }
      }

      &-date {
        color: $weddingSubTextColor;
        font-size: 14px;

        @include mobile {
          font-size: 12px;
        }
      }
    }

    &-content {
      color: $weddingMainTextColor;
      padding: 20px;
      font-size: 16px;

      @include mobile {
        font-size: 14px;
      }
    }
  }

  &-comment-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-comment-more {
    margin-top: 20px;

    button {
      @extend .flex-center;
      background: transparent;
      gap: 5px;
      cursor: pointer;
    }

    &-btn {
      width: 30px;
      height: 30px;
    }
  }
}
