.info {

  &__inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__container {
    @extend .flex-center;
    flex-direction: column;
    gap: 5px;
  }

  &__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    span {
      color: $weddingMainTextColor;
      font-size: 30px;
      letter-spacing: 2px;

      @include mobile {
        font-size: 22px;
      }
    }
  }

  &__icon {
    fill: #FF7979;
    width: 50px;
    height: 50px;
    animation: heartbeat 1.4s linear infinite;

    @include mobile {
      width: 35px;
      height: 35px;
    }
  }


  &__date {
    font-size: 24px;
    line-height: 1.2;

    span {
      color: $weddingMainTextColor;
      font-size: 32px;

      @include mobile {
        font-size: 20px;
      }
    }
  }

  &__location {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 8px;

    span {
      color: $weddingSubTextColor;
      font-size: 28px;

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1); }
  30% { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  70% { transform: scale(1.4); }
  100% { transform: scale(1); }
}
