.invitation {
    &__inner {
        @extend .flex-center;
        margin-top: 100px;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        @extend .flex-center;
        flex-direction: column;

        &-main {
            color: $weddingTitleColor;
            font-size: 36px;
            font-weight: bold;
            letter-spacing: 5px;
            line-height: 1.2;

            @include mobile {
                font-size: 28px;
            }
        }

        &-sub {
            color: $weddingMainTextColor;
            font-size: 30px;

            @include mobile {
                font-size: 20px;
            }
        }
    }

    &__intro {
        color: $weddingSubTextColor;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;

        @include mobile {
            font-size: 16px;
        }
    }

    &__message-img {
        margin-top: 60px;
        max-width: 540px;

        @include mobile {
            padding: 0 20px;
        }

        img {
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    &__message {
        color: $weddingMainTextColor;
        margin-top: 60px;
        text-align: center;
        line-height: 1.5;
        font-size: 24px;

        @include mobile {
            font-size: 16px;
        }
    }
}