.navigation {
  &__inner {
    @extend .inner-margin;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 50px;
    padding: 0 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-main {
      color: $weddingMainTextColor;
      font-size: 24px;
      font-weight: bold;

      @include tablet {
        font-size: 22px;
      }

      @include mobile {
        font-size: 20px;
      }
    }

    &-sub {
      color: $weddingSubTextColor;
      font-size: 18px;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }
    }
  }

  &__container {
    @extend .flex-center;
    width: 100%;
    margin: 50px auto 0;
    padding-bottom: 50px;
    border-bottom: 1px dashed;
    gap: 50px;

    @include mobile {
      gap: 20px;
    }

    a {
      @extend .flex-center;
      padding: 5px 10px;
      border-radius: 10px;
      gap: 15px;
      font-size: 14px;

      @include mobile {
        padding: 5px 5px;
      }

      &:nth-child(1) {
        color: black;
        border: 1px solid #f7e600;
        background: #f7e600;
      }

      &:nth-child(2) {
        color: black;
        background: #fff;
        border: 1px solid #eee;
      }

      &:nth-child(3) {
        border: 1px solid #03c75a;
        background: #03c75a;
        color: white;
      }

      @include mobile {
        width: 130px;
        gap: 5px;
      }

      img {
        @include mobile {
          width: 20px;
          height: 20px;
        }
      }

      span {
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }
}
