.footer {
  &__inner {
    @extend .flex-center;
    margin-top: 100px;
    margin-bottom: 30px;
    flex-direction: column;
    gap: 30px;
  }

  &__message {
    position: absolute;
    top: 80px;
    left: 40px;
    line-height: 1.2;
    color: $backgroundBody;

    @include mobile {
      font-size: 14px;
      left: 20px;
    }
  }

  &__share-btn {
    color: $weddingMainTextColor;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    @include mobile {
      font-size: 14px;
    }
  }

  &__share-icon {
    @include tablet {
      width: 30px;
      height: 30px;
    }

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  &__container {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("https://res.cloudinary.com/dgl08y6j1/image/upload/w_1000,c_fill,g_auto/v1719941208/webp/weddingEnd.webp"); 
    background-image: image-set(
      url("https://res.cloudinary.com/dgl08y6j1/image/upload/w_1000,c_fill,g_auto/v1719941208/webp/weddingEnd.webp") type("image/webp")
      url("https://res.cloudinary.com/dgl08y6j1/image/upload/w_1000,c_fill,g_auto/v1719941208/jpg/weddingEnd.jpg") type("image/jpg")
    );
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50px;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        $backgroundWhite
      );
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        $backgroundWhite
      );
      z-index: 2;
    }
  }

  &__move-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    span {
      @include mobile {
        font-size: 12px;
      }
    }
  }

  &__move-btn {
    width: 35px;
    height: 35px;
    animation: motion 0.5s linear 0s infinite alternate;

    @include tablet {
      width: 30px;
      height: 30px;
    }

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes motion {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
