.header {
  background: transparent;

  &__inner {
    @extend .flex-center;
    flex-direction: column;
    gap: 20px;
    padding: 100px 20px 50px;

    @include mobile {
      gap: 35px;
    }
  }

  &__date-box,
  &__name-box {
    @extend .flex-center;
    flex-direction: column;
    gap: 3px;
  }

  &__date {
    color: $weddingMainTextColor;
    font-size: 50px;

    @include mobile {
      font-size: 30px;
    }
  }

  &__day {
    color: $weddingSubTextColor;
    font-size: 36px;

    @include mobile {
      font-size: 26px;
    }
  }

  &__groom-name,
  &__bride-name {
    color: $weddingMainTextColor;
    font-size: 55px;
    letter-spacing: 10px;

    @include mobile {
      font-size: 28px;
    }
  }

  &__name-title {
    color: $weddingTitleColor;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;

    @include mobile {
      font-size: 14px;
    }
  }

  .bride {
    margin-top: 30px;
  }

  &__icon {
    width: 35px;
    transform: rotate(30deg);
  }
}
