.header {
  background: #fff;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 20px 50px;
  }

  &__date-box,
  &__name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  &__date {
    font-size: 50px;
  }

  &__day {
    font-size: 36px;
  }

  &__groom-name,
  &__bride-name {
    font-size: 55px;
    letter-spacing: 10px;
  }

  &__name-title {
    color: pink;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
  }

  .bride {
    margin-top: 30px;
  }

  &__icon {
    width: 35px;
    transform: rotate(30deg);
  }
}
