.invitationPerson {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;

    &__children {
        color: $weddingNameColor;
    }

    &__call {
        color: $weddingMainTextColor;
    }
}