.timer {
    display: flex;
    gap: 10px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    &__day {
        color: red;
    }
}