.maple-container {
  position: fixed;
  max-width: 800px;
  margin: 0 auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 100%;
  pointer-events: none;

  @include mobile {
    max-width: 600px;
  }
}

.maple {
  position: absolute;
  top: -30px;
  width: 25px;
  height: 25px;
  animation: fall linear 14s;

  background-image: url('./../../../public/assets/mapleLeaf.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes fall {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(500px); // 오른쪽으로 이동
  }
  50% {
    transform: translateX(0); // 원래 위치로
  }
  75% {
    transform: translateX(-500px); // 왼쪽으로 이동
  }
  100% {
    transform: translateY(100vh) translateX(0); // 최종적으로 아래로 이동하며 원래 위치로 돌아옴
  }
}
