.App {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  box-sizing: content-box;
  background-color: $backgroundWhite;

  @include tablet {
    max-width: 700px;
  }

  @include mobile {
    margin: 0;
    max-width: 600px;
    padding: 0;
  }
}
